<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.387747018010-uchsajbs8f5tl3ke3t5bo52s6fke6lse</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>387747018010-uchsajbs8f5tl3ke3t5bo52s6fke6lse.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
